@import url('https://fonts.googleapis.com/css?family=Poiret+One');
html {
    height: 100%;
    position: fixed;
}
body{
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1ef), to(#302624)) fixed;

    position: fixed;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-appearance: none;
    font-family: 'Poiret One', cursive;
}
input:focus, select:focus, textarea:focus{
    outline: none;
}
.all{
    width: 100%;
    height: 100%;
}

#back{

    transition: 0.4s;
    text-align: center;
    height: 120%;
    width: 120%;
    margin-left: -10%;
    -webkit-filter: blur(1.2rem);
    filter: blur(1.2rem);
    position: fixed;
    bottom: -20%;
}
input{
    overflow: hidden;

}
.preview-img{
    max-width:160px;
    max-height:160px;
}
.upload_info{
    transition: 0.4s;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid rgba(255,255,255,0.2);
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
.btn {
    color: #fff;
    position: fixed;
    bottom: 100px;
    width: 200px;
    height: 50px;
    left: calc(50% - 100px);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    font-size: 150%;
    transition: 0.4s;
}
.btn::selection{
    background: rgba(0,0,0,0);
}
.form::before{
    content: 'Загрузить';
    font-size: 100%;
}


.box ,.box-hover{
    transition: 0.5s;
    height: 200px;
    line-height: 200px;
    margin-left: 15%;
    border: 2px solid rgba(0,0,0,0.3);
    position: fixed;
    top: 20%;
    border-radius: 10px;
    text-align: center;
    font-size: 200%;
    color: rgba(0,0,0,0.3);
}
.box{
    display: none;
    width: 70%;
    margin-left: 15%;
}
.box-hover{
    height: 220px;
    line-height: 220px;
    color: #fff;
    width: 80%;
    margin-left: 10%;
    background: rgba(0,0,0,0.1);
    border: 0;
}

body div ~#upl{
    bottom: 50%;
    display: none;
    transition: 0.4s;

}

.form{
    display: none;
}
.file_pict{
    width: 160px;
    height: 160px;
    margin-left: calc(50% - 80px);
}
.preview_div{
    width: 180px;
    background: #eee;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
    float: left;
    height: 277px;
}
.preview_div div {
    width: 90%;
    margin-left: 5%;

}

.delete{
    cursor: pointer;
    color: #777;
}
.file_ras{
    width: 70%;
    text-align: center;
    margin-top: -80px;

    font-size: 130%;
}

@media (max-width: 600px) {
    #back {

        width: 220%;
        margin-left: -60%;

    }
    .btn{
        width: 90%;
        border-radius: 10px;
        margin-left: 0;
        left: 5%;
    }
    .preview_div{
        width: 94%;
    }
  /*  .preview_div div img{
        width: 100%;
    }*/

    .btn:active{
        background: #fff;
        color: #555
    }


}
@media(min-width: 600px){
    .btn:hover{
        background: #fff;
        color: #555
    }
}

#progressbar{
    display: none;
    width: 70%;
    left: 15%;
    position: fixed;
    bottom: 35%;
    height: 10px;
    border-radius: 5px;
    background: #eee;
}
#ready{
    width: 0;
    height: 10px;
    background: #387985;
    text-align: center;
    border-radius: 5px;
}
#percent{
    margin-top: 30px;
    color: #28242a;
    float: right;
    font-size: 150%;
}

.prev_img{
    min-height: 165px;
}
#stop_upload:hover{
        background: #eee;
}
#inp_mob{
    transition: 0.4s;
    width: 86%;
    position: fixed;
    bottom: 160px;
    height: 30px;
    border: 0;
    border-radius: 10px ;
    font-size: 150%;
    left: 5%;
    padding: 2%;

}